@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;800&display=swap");

body {
    background: white;
}

#profile {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

#profile-card {
    margin-left: 40px;
    border-radius: 9px;
    width: 300px;
    height: fit-content;
    margin-top: 25px;
}

#main-photo {
    -webkit-user-drag: none;
    user-select: none;
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 9px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#profile-card-caption {
    display: flex;
    justify-content: center;
    border-radius: 9px;
    width: 100%;
    height: 55px;
    flex-direction: column;
    align-items: center;
}

.profile-full-name {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0 15px 0;
    padding-left: 40px;
    text-align: left;
    font-size: 23px;
    font-family: 'Roboto', 'Arial', sans-serif;

}

.profile-status {
    margin-top: 0;
    font-weight: 500;
    background: white;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 9px;
    color: black;
    font-size: 16px;
    margin-bottom: 25px;
    text-align: left;
    width: 100%;
    padding: 10px;
    border-left: 5px solid cornflowerblue;
}

.profile-status:after {
    content: "";
    position: relative;
    border-width: 30px 0 0 30px;
    border-bottom-right-radius: 100%;
    border-style: solid;
    border-color: white transparent;
    bottom: -56px;
    right: 220px;
}

.left-quote {
    margin-right: 250px;
}

.profile-status span {
    margin-left: 10px;
}

.right-quote {
    margin-left: 250px;
}

#profile-info {
    margin-left: 35px;
    margin-top: 20px;
    height: max-content;
    width: 880px;
    gap: 60px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#about-me {
    display: flex;
    flex-direction: column;
    width: 820px;
    margin-bottom: 50px;
    height: fit-content;
}

.main-info {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0 10px;
    font-size: 17px;
    list-style: none;
    width: 350px;
    height: 230px;

}

.main-info li {
    padding: 5px 0;
    margin: 12px 0;
    /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
}

.main-info li span {
    font-weight: 600;
    color: #2B86C5;
}

.profile-text-info-title {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 23px;
    margin: 0;
    padding: 0 0 5px 0;
    text-align: center;
    color: #2B86C5;
}

#about-me-text {
    background: transparent;
    font-family: 'Arial', sans-serif;
    font-size: 17px;
    font-weight: 500;
    resize: none;
    line-height: 1.5;
    box-sizing: border-box;
    height: 100%;
    text-align: justify;
    border: none;
}

#about-me-text::-webkit-scrollbar {
    width: 9px;
}

#about-me-text::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

#about-me-text::-webkit-scrollbar-thumb {
    background: cornflowerblue;
    border-radius: 25px;
}

#about-me-text:hover {
    border: none;
    cursor: default;
}


#profile-photos-content {
    position: relative;
    width: 820px;
    height: 200px;
}

.photos-slider i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.photos-slider i:active {
    transform: translateY(-50%) scale(0.85);
}

.photos-slider i:first-child {
    left: -22px;
}

.photos-slider i:last-child {
    right: -22px;
}

.photos-slider .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 25px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 200px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    flex-direction: column;
    border-radius: 10px;
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
}

.carousel .card .img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

.card .img img {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}


@media screen and (max-width: 900px) {
    .photos-slider .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .photos-slider .carousel {
        grid-auto-columns: 100%;
    }
}

#profile-text-info-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 820px;
}

#profile-photos-header {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    font-size: 17px;
}

#friends {
    width: 300px;
    height: fit-content;
    margin-top: 60px;
    margin-bottom: 50px;
}

#friends-header {
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    font-size: 17px;
}

#friends-container {
    margin: 10px 0;
    display: grid;
    height: auto;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.friend-name {
    margin-top: 10px;
}

.friend-card {
    /*border: 1px solid black;*/
    width: 95px;
    height: 140px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.edit-button {
    width: 80%;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-size: 17px;
    font-weight: 600;
    background: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 9px;
    cursor: pointer;
}

.edit-button:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
}


#shared-days {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: fit-content;
    width: 100%;
}

#shared-days-search .search {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 23px;
}

#shared-days-search .search-input {
    width: 350px;
}