{% extends 'index.html' %}
{% load static %}
{% block title %}Висновки{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static '/styles/list-page.css' %}">
    <link rel="stylesheet" href="{% static '/styles/conclusions.css' %}">
{% endblock %}

{% block content %}
    <div id="conclusions" class="list-page">
        <div class="list-page-header">
            <div class="list-page-title">Висновки</div>
            <div class="list-page-search">
                <form>
                    <div class="search" title="Пошук висновків по днях">
                        <i class="search-icon fas fa-search"></i>
                        <input class="search-input" type="search" name="search_query"
                               placeholder="Пошук висновків по днях"
                               autocomplete="off">
                    </div>
                </form>
            </div>
        </div>
        <ol class="conclusions-list content-list">
            {% for day in days %}
                <li class="conclusions-list-elem content-list-elem"><span class="elem-content">
                <span class="elem-number">{{ day.date }}</span>
                <span class="elem-text">{{ day.conclusion }}</span></span><i
                        class="material-icons-outlined">short_text</i></li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}